* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

#menu {
    display: inline;
    text-align: center;
}

#high-score {
    padding-left: 2%;
}

#timer {
    padding-right: 2%;
}

#high-score:hover {
    color: rgb(182, 8, 182);
}

.full-question {
    display: none;
    text-align: center;
}

.answers {
    text-align: center;
}

.item,
#start {
    display: inline;
    text-align: center;
    width: 40%;
    padding: 2.5%;
    background-color: rgb(58, 3, 167);
    color: white;
    border-radius: 10px;
}

.item:hover,
#start:hover {
    background-color: rgb(182, 8, 182);
}

#scoreRecord {
    display: none;
    text-align: center;
}

.high-scores {
    text-align: center;
}

#title {
    padding-top: 10%;
}

.navigation {
    display: inline;
    text-align: center;
    width: 20%;
    padding: 1%;
    background-color: rgb(58, 3, 167);
    color: white;
    border-radius: 10px;
}

.navigation:hover {
    background-color: rgb(182, 8, 182);
}

.submit {
    display: inline;
    text-align: center;
    width: 20%;
    padding: 1%;
    background-color: rgb(58, 3, 167);
    color: white;
    border-radius: 10px;
}

.submit:hover {
    background-color: rgb(182, 8, 182);
}

#retry {
    z-index: 2;
    display: none;
    text-align: center;
}