* {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-areas: 
        high-score timer;
}

#high-score {
    grid-area: high-score;
}

#timer {
    grid-area: timer;
    text-align: right;
}

#menu {
    display: inline;
    text-align: center;
}

.full-question {
    display: none;
    text-align: center;
}

.answers {
    text-align: center;
}

.item,
#start {
    display: inline;
    text-align: center;
    width: 40%;
    padding: 2.5%
}