* {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-areas: 
        high-score timer;
}

#high-score {
    grid-area: high-score;
}

#timer {
    grid-area: timer;
    text-align: right;
}
.menu {
    display: inline;
}

.full-question {
    display: none;
    text-align: center;

}